body {
   background-image: linear-gradient(to right, rgb(53, 53, 141), rgb(250, 73, 73));
}
.Login {
   color: #005;
   border: 3px solid #005;
   border-radius: 10px;
   margin-top: 20px;
}

.Botao {
   background-color: #fff;
   color: #005;
   border: 3px solid #005;
   border-radius: 10px;
   margin-top: 20px;
}

.Botao:hover {
   border: 3px solid red;
   cursor: pointer;
}

form {
   margin-bottom: 40px;
}